.contact-head {
  position: relative;
  top: 4rem;
  background-image: url('../assets/adorable-cheerful-young-lady-working-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline: auto;
  width: 85%;
  height: 100%;
  padding-top: 7.2rem;
  padding-inline: 3.75% 25%;
  color: #dfe5ea;
}

.contact-head * {
  background: rgba(18, 23, 33, 0.8);
  padding: 25px 40px;
  margin: 0;
}

.form-div {
  background: #fbf8f1;
  width: 85%;
  padding-block: 40px;
  margin-top: -4rem;
  margin-inline: auto;
  z-index: 10;
}
