.contact-head {
  position: relative;
  top: 4rem;
  background-image: url('../assets/adorable-cheerful-young-lady-working-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline: auto;
  width: 85%;
  height: 100%;
  padding-top: 7.2rem;
  padding-inline: 3.75% 25%;
  color: #dfe5ea;
}

.contact-head * {
  background: rgba(18, 23, 33, 0.8);
  padding: 25px 40px;
  margin: 0;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbf8f1;
  width: 85%;
  padding-block: 40px;
  margin-top: -4rem;
  margin-inline: auto;
  z-index: 10;
}

.form-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px; 
}

.form-div form div {
  display: flex;
  flex-direction: column;
}

.form-div form .text-red-500 {
  color: red;
}

.form-div form input,
.form-div form textarea {
  padding: 5px 20px;
  border: 1.3px solid rgb(37, 37, 37);
  background: transparent;
  width: 350px;
}

.form-div form button {
  background: #343536;
  color: rgb(242, 174, 48);
  font-size: 17px;
  padding: 8px 15px;
  border: none;
}

.form-div form button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (max-width: 900px) {
  .contact-head {
    padding: 0;
    width: 94%;
  }

  .contact-head * {
    padding-block: 50px;
    margin: 0;
  }

  .contact-head h1 {
    font-size: 40px;
  }

  .form-div {
    margin-top: 2rem;
    width: 94%;
  }
}
