.header-home {
  position: relative;
  height: 95vh;
  width: 100%;
  background-image: url('../assets/40153.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -2rem;
  left: 0;
  margin-bottom: 4rem;
}

.header-p {
  background: rgba(18, 23, 33, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 12rem;
  padding-inline: 3.75% 25%;
  color: #dfe5ea;
}

.header-p p {
  margin-bottom: 25px;
}

.learn-more {
  font-size: 17px;
  font-weight: 500;
  color: rgb(233, 179, 79);
  margin-top: 25px;
  border: none;
  background: none;
}

.learn-more::after {
  content: '';
  display: block;
  text-align: center;
  width: 0;
  height: 1.25px;
  position: relative;
  background: rgb(233, 179, 79);
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.learn-more:hover::after {
  width: 100%;
}

.home-about img {
  width: 700px;
  margin-inline: 25px;
}

.home-about span {
  font-size: 17px;
  font-weight: 500;
  color: rgb(161, 168, 172);
  margin-bottom: -10px;
}

.home-about p {
  margin-inline: 20px 10px;
  font-size: 17px;
  color: rgb(36, 34, 33);
  margin-bottom: 30px;
}

.more-about {
  color: rgb(27, 27, 27);
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}

.more-about::after {
  content: '';
  display: block;
  text-align: center;
  width: 0;
  height: 1.25px;
  position: relative;
  background: rgb(233, 179, 79);
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.more-about:hover::after {
  width: 100%;
}
