*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}

h1::after {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 0; 
  background: rgb(136, 93, 12);
  animation: growLine 1s ease-out forwards; 
}

@keyframes growLine {
  to {
    width: 30%;
  }
}


h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 4rem;
}

h2::after{
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 12%;
  background: rgb(232, 161, 29);
  margin-top: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 17px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

nav .container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(52, 53, 54);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding-inline: 5%;
  padding-block: 15px;
  -o-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

nav .container span {
  font-size: 24px;
  font-weight: 700;
  color: rgb(237, 166, 99);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

nav.scrolled {
  background: rgb(128, 124, 120)
}

.navigation .nav-link {
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navigation a::after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 0;
  background: rgb(233, 162, 29);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.navigation a:hover::after {
  width: 100%;
}

.menu {
  display: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  z-index: 10000;
}

.payments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 40px;
  margin-inline: auto;
  width: 90%;
  background: rgb(46, 47, 48);
  color: #fff;
  height: 300px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.payments p a {
  color: rgb(231, 150, 83);
  font-weight: 600;
}

@media (max-width: 1000px) {
  .menu {
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(32, 32, 32, 0.75);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 10;
    -o-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }

  .navigation.render {
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .navigation .nav-link {
    font-size: 24px;
    font-weight: 600;
  }

  h1 {
    font-size: 44px;
  }

  h1::after {
    width: 60%;
    margin-top: 20px;
  }
}
